
@media(max-width:1300px){
    .input{
        width: 420px;
    }
    .btn{
        width: 120px;
    }
}
@media(max-width:1000px){
    .input{
        width: 390px;
    }
    .btn{
        width: 100px;
        /* margin-top: 10px; */
    }
    .text-c{
        font-size: 50px;
        padding-left: 10px;
    }
    .date-txt{
        font-size: 14px;
    }
    .text-sun{
        font-size: 10px;
    }
}
@media(max-width:650px){
    .input{
        width: 330px;
    }
    .btn{
        width: 100px;
    }
    .text-c{
        font-size: 30px;
        padding-left: 10px;
    }
    .date-txt{
        font-size: 10px;
    }
}
@media(max-width:500px){
    .head{
        font-size: 23px;
    }
    .input{
        width: 250px;
    }
}