@media(max-width:1250px){
    .input{
        width: 450px;
    }
    .btn{
        width: 110px;
        margin-left: 5px;
    }
}
@media(max-width:1000px){
    .input{
        width: 360px;
    }
    .btn{
        width: 90px;
        /* font-size: 10px; */
    }
    .head{
        font-size: 25px;
    }
}
@media(max-width:500px){
    .input{
        width: 150px;
    }
    .btn{
        width: 70px;
        /* font-size: 10px; */
    }
    .head{
        font-size: 22px;
    }
    .text-c{
        font-size: 50px;
        padding-left: 3px;
    }
    .date-txt{
        font-size: 12px;
    }
}

